body{
    height: 100vh;
    margin: 0 auto;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*Navigation Section*/

.header-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FAFAFA;
}
.SELLO{
    display: inline;
    margin-left: 20rem;
}
.nav-links{
    margin-right: 40rem;
    display: flex;
    gap: 10px;
}
a{
    font-size: 0.75rem;
    text-decoration: none;
    color: gray;
}
a:hover{
    text-decoration: underline;
    color: black;
}

/*Side titles*/

.sous-titres{
    writing-mode: sideways-lr;
    font-weight: bold;
    font-family: 'Open Sans';
    font-size: 1.1rem;
    margin-left:50px ;
}
.sous-titres-container{
    margin: 80px 0px 80px 50px;
    width: 5rem;
    display: inline-block;
}

.line{
    border: solid gainsboro;
    border-width: 1px;
    height: 5rem;
    width: 0;
    margin-left:60px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*Intro Section*/



.intro{
    background-color: #F5F5F5;
    height: 30rem;
}
.intro-content{
    position: absolute;
    left: 250px;
    width: 450px;
    top:150px;
}
#gray-pants{
    top: 0px;
    right: 0px;
    width: 50vw ;
    height: auto;
    position: absolute;
}
#sale-off{
    font-weight: bolder;
    font-size: 2rem;
}


/*Trending Section*/



.trending{
    display: flex;
    flex: 1;
    gap: 100px;
    align-items: center;
}
.trending-category{
    display: grid;
    grid-template-columns: repeat(4,50px) 450px 100px;
    gap: 30px;
    margin-top: 100px;
    margin-bottom: 50px;
    float: auto;
}
.items{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    gap: 10px;
}
.items>div{
    width: 254px;
    flex: 1;
}
.trending-image{
    width: 254px;
    height: auto;
    border-bottom:solid black 2px ;
}
.image-container{
    position: relative;
    width: 254px;
    height: 325px;
}
.text-container{
    position: absolute;
    font-size: 14px;
    bottom: 0px;
    left: 8px;
    font-weight:100;
    padding: 4px 20px 4px 20px;
    background-color: white;
}
.item-name{
    margin-top: 8px;
    display: block;
}



/*Collection Section*/




.collection{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 100px 0px 100px 0px;
}
.collection-image-container{
    position: relative;
    width: 400px;
    flex: 1;
}
.collection-text{
    position: absolute;
    top: 30%;
    display: grid;
}
.shop{
    margin-top: 30px ;
}
.collection-text.left{
    right: 60px;
}
.collection-text.right{
    left:40px
}
.collection-text span{
    display: block;
}
.collection-images{
    width: 410px;
    height: auto;
}




/*Featured Section*/




.featured-item{
    display: flex;
    align-items: center;
    gap: 100px;
}
.featured{
    display: grid;
    grid-template-columns: 375px 375px 375px;
    grid-template-rows: 420px 420px;
}
.featured-container{
    width: 300px;
    height: 300px;
}
.featured-image-container{
    position: relative;
    height: 300px;
}
.sale-status{
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: black;
    color: #F5F5F5;
    padding: 5px;

}
.featured-text{
    box-shadow: 1px 1px 1px gainsboro,-1px -1px gainsboro;
}
.featured-text .item-name{
    font-size: 24px;
    margin: 0;
}
.featured-image{
    width: 300px;
    max-height: 300px;
}
.featured-line{
    border: solid gainsboro 1px;
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 75%;
}
.featured-cart{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.featured-cart img{
    width: 15px;
    height: auto;
}
.featured-cart span{
    font-size: 10px;
}
.cart,.like-button,.comment-button{
    border:none;
    background: none;
}
.cart-container{
    justify-self: flex-end;
    margin: 0 auto;
}
.featured-cart>div>span{
    margin-bottom: 5px;
}

/* Subscribe card*/

.subscribe-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F5F5;
    margin: 150px 0px 75px 225px;
    width: 1050px;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.text>div>span{
    margin: 15px;
    text-align: center;
    display: block;
}
.middle-subscribe{
    display: flex;
    gap: 50px;
}
.send{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    text-align: center;
    margin:0 auto;
    height: 54px;
    width: 180px;
    border: none;
    color: #F5F5F5;
    background-color: #1B1B1B;
}
.paper-plane{
    width: 25px;
    height: auto;
    margin-right:25px ;
}
.subscribe1-image,.subscribe2-image{
    background-color: #F5F5F5;
    width: 280px;
    height: auto;
}
.email{
    padding-left:20px;
    border: none;
    height: 55px;
    width: 280px;
    margin-right: 20px ;
}
/*Story Section*/
.story{
    
}

