@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&display=swap');
body{
    height: 100vh;
    margin: 0 auto;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FAFAFA;
}
.SELLO{
    display: inline;
    margin-left: 20rem;
}
.nav-links{
    margin-right: 30rem;
    display: flex;
    gap: 10px;
}
.nav-links a{
    text-decoration: none;
    color: gray;
}
.nav-links a:hover{
    text-decoration: underline;
    color: black;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.intro{
    background-color: #BDBDBD;
    height: 20rem;
}
.intro-content{
    position: absolute;
    left: 250px;
    width: 400px;
    top:150px;
}
#gray-pants{
    top: 0px;
    right: 0px;
    width: auto;
    height: 400px;
    position: absolute;
}
.sous-titres{
    writing-mode: sideways-lr;
    font-weight: bold;
    font-family: 'Open Sans';
    font-size: 1.1rem;
    margin-left:50px ;
}
.sous-titres-container{
    margin: 80px 0px 80px 50px;
}
.line{
    border: solid gainsboro;
    border-width: 1px;
    height: 5rem;
    width: 0;
    margin-left:60px;
    margin-top: 10px;
    margin-bottom: 10px;
}