body{
    height: 100vh;
    margin: 0 auto;
}
.header-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FAFAFA;
}
.SELLO{
    display: inline;
    margin-left: 20rem;
}
.nav-links{
    margin-right: 40rem;
    display: flex;
    gap: 10px;
}
a{
    font-size: 0.75rem;
    text-decoration: none;
    color: gray;
}
a:hover{
    text-decoration: underline;
    color: black;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.intro{
    background-color: #F5F5F5;
    height: 30rem;
}
.intro-content{
    position: absolute;
    left: 250px;
    width: 450px;
    top:150px;
}
#gray-pants{
    top: 0px;
    right: 0px;
    width: 50vw ;
    height: auto;
    position: absolute;
}
#sale-off{
    font-weight: bolder;
    font-size: 2rem;
}
.sous-titres{
    writing-mode: sideways-lr;
    font-weight: bold;
    font-family: 'Open Sans';
    font-size: 1.1rem;
    margin-left:50px ;
}
.sous-titres-container{
    margin: 80px 0px 80px 50px;
    width: 5rem;
    display: inline-block;
}

.line{
    border: solid gainsboro;
    border-width: 1px;
    height: 5rem;
    width: 0;
    margin-left:60px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.trending{
    display: flex;
    flex: 1;
    gap: 100px;
    align-items: center;
}
.trending-category{
    display: grid;
    grid-template-columns: repeat(4,50px) 450px 100px;
    gap: 30px;
    margin-top: 100px;
    margin-bottom: 50px;
    float: auto;
}
.items{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    gap: 10px;
}
.trending-image{
    width: auto;
    height: 325px;
    border-bottom:solid black 2px ;
}
.image-container{
    position: relative;
    width: 254px;
    height: 325px;
}
.text-container{
    position: absolute;
    font-size: 14px;
    bottom: 0px;
    left: 8px;
    font-weight:100;
    padding: 4px 20px 4px 20px;
    background-color: white;
}
.item-name{
    margin-top: 8px;
    display: block;
}
.collection{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 100px 0px 100px 0px;
}
.collection-image-container{
    position: relative;
}
.collection-text{
    position: absolute;
    top: 30%;
    display: grid;
}
.shop{
    margin-top: 30px ;
}
.collection-text.left{
    right: 10px;
}
.collection-text.right{
    left:40px
}
.collection-text span{
    display: block;
}
.collection-images{
    width: 400px;
    height: auto;
}